/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom styles */
body {
    background-color: #1D2029;
}
.container {
    max-width: 900px;
    padding: 0 32px;
    margin: 0 auto;

}
.header-back {
    background-color: rgb(32,34,47);
    padding-top: 32px;
    padding-bottom: 150px;
    margin-bottom: -140px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.small p {
    margin-right: 12px;
}
.header h1 {
    font-size: 24px;
    color: white;
    font-weight: 700;
}
.header p {
    font-size: 12px;
    color: gray;
    margin-top: 8px;
}
.abox {
    justify-content: space-between;
    display: flex;
    border-radius: 40%;
    align-items: center;
    height: 18px;
    padding: 2px;
    width: 36px;
    background-image: linear-gradient(to left,aquamarine, rgb(32,34,47));
}
.header a {
    color: rgb(32,34,47);
    margin-left: 3px;
}
.col {
    margin-top: 32px;
    width: 24%;
    height: 200px;
    background-color: #252B43;
    border-radius: 4px;
    text-align: center;
    border-top: 4px solid #2B9CE3;
}
.flex-box {
    display: flex;
    justify-content: center;
}
.anchor {
    margin-top: 20px;
    font-size: 20px;
    margin-right: 12px;
    color: #2B9CE3;
}
.name {
    font-size: 12px;
    color: gray;
    margin-top: 23px;
    text-transform: lowercase;
}
.year {
    font-size: 40px;
    font-weight: 600;
    color: white;
    margin-top: 20px;
}
.followes {
    font-size: 16px;
    color: gray;
    letter-spacing: 5px;
    margin-top: 10px;
}
.today {
    color: rgb(95, 219, 95);
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
}
.today-down {
    color: #C7062D;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
}
.col-3{
    border-top: 4px solid #DF4F91;

}
.col-4 {
    border-top: 4px solid #C7062D;
}
.anchor3 {
    color: #DF4F91;
    margin-top: 20px;
    font-size: 20px;
    margin-right: 12px;
}
.anchor4 {
    color: #C7062D;
    margin-top: 20px;
    font-size: 20px;
    margin-right: 12px;
}
.heading {
    margin-top: 20px;
    margin-bottom: 20px;
}
.heading h2 {
    font-size: 20px;
    color: white;
    font-weight: 700;
}
.flex-box2 {
    display: flex;
    justify-content: space-between; 
}
.small-boxes{
    flex-wrap: wrap;
}
.colmn {
    width: 23%;
    margin: 1%;
    height: 100px;
    background-color: #252B43;
    border-radius: 4px;
}
.name1 {
    font-size: 14px;
    margin-left: 12px;
    color: gray;
    margin-top: 23px;
}
.anchor-1 {
    margin-top: 20px;
    margin-right: 12px;
    font-size: 20px;
    margin-right: 12px;
    color: #2B9CE3;
}
.anchor-3 {
    margin-top: 20px;
    margin-right: 12px;
    font-size: 20px;
    margin-right: 12px;
    color: #C7062D;
}
.anchor-2 {
    margin-top: 20px;
    margin-right: 12px;
    font-size: 20px;
    margin-right: 12px;
    color:  #DF4F91;;
}
.year1 {
    font-size: 20px;
    font-weight: 600;
    margin-left: 12px;
    color: white;
    margin-top: 20px;
}
.today-down1 {
    color:  rgb(95, 219, 95);
    margin-top: 24px;
    margin-right: 12px;
    font-size: 12px;
    font-weight: 500;
}
.today-down12 {
    color: #C7062D;
    margin-top: 24px;
    margin-right: 12px;
    font-size: 12px;
    font-weight: 500;
}